@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 5%;
    left: 0;
     position: fixed;
    z-index: 10;
}


.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.logo img {
    width: 230px;
    height: 70px;
    object-fit: cover;
}

.booking {
    display: flex;
    gap: 20px;

}

.booking a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    padding: 5px;
}

.btn {
    border: 1px solid #808080;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 3px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background: #6565cc91;
    color: #fff;
}


.booking a i {
    font-size: 25px;
}


.menu-link {
  width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
   
  }

  .menu-link ul {      
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .menu-link li {
    position: relative;
  }

  .menu-link a {
    display: block;
    padding: 14px 20px;
    color: #000000;
    text-decoration: none;
  }

  .menu-link a:hover {
    background: #6565cc91;
  }

 
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #6565cc91;
    min-width: 160px;
  }

  .dropdown a {
    padding: 12px 16px;
     border-bottom: 1px solid #808080;
  }


  .menu-link li:hover .dropdown {
    display: block;
  }


  .hero {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.auto-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.slide.active {
  opacity: 1;
  pointer-events: auto;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO BOX */
.slide-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 20px;
  max-width: 320px;
  border-radius: 6px;
}

.slide-content h2 {
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 14px;
  margin-bottom: 12px;
}

.slide-content a {
  display: inline-block;
  background: #ff9800;
  color: #000;
  padding: 8px 14px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}



 