.site-footer {
    font-family: Arial, sans-serif;
    color: #131111;
}

.footer-top {
    padding: 40px 0;
}

.footer-top-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 900px;
}

.footer-top h2 {
    margin: 0 0 8px;
}

.btn-outline {
    border: 2px solid #131111;
    padding: 10px 18px;
    color: #131111;
    text-decoration: none;
    font-weight: bold;
}

.footer-main {
    background: #eaeaebf3;
    padding: 10px 10px;
    color: black;
}

.container {
    width: 100%;
    
}

.footer-logo {
    width: 100%;
}

.footer-logo img {
    width: 200px;
    padding: 0 50px;
}

.footer-columns {
    display: flex;
    gap: 130px;
    margin-bottom: 40px;
    padding: 0 70px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.footer-social{
    font-size: 25px;
    margin-top: 28px;
}

.footer-social a {
    color: #131111;
    text-decoration: none;
    font-weight: bold;
}
.footer-col form input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.footer-col button{
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}

.footer-bottom {
    border-top: 1px solid #2a3b5f;
    display: flex;
    background-color: #eaeaebf3;
}
.footer-bottom p{
    margin: auto;
    padding: 15px;
}
.footer-bottom a {
    color: #4da3ff;
}

@media (max-width: 900px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top-inner {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .footer-columns {
        grid-template-columns: 1fr;
    }
}
