


.site-footer {
    font-family: Arial, sans-serif;
    color: #131111;
}

.footer-top {
    background: #fff;
    padding: 40px 0;
}

.footer-top-inner {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.btn-outline {
    border: 2px solid #131111;
    padding: 10px 18px;
    color: #131111;
    text-decoration: none;
    font-weight: bold;
}

.footer-main {
    background: #eaeaebf3;
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.footer-logo img {
    width: 180px;
    margin-bottom: 30px;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.footer-col h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-top: 15px;
    font-size: 22px;
}

.footer-social a {
    color: #131111;
    margin-right: 10px;
}

.footer-col input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.footer-col button {
    padding: 10px 16px;
    border-radius: 8px;
    background: blue;
    color: white;
    border: none;
    margin-left: 140px;
}

.footer-bottom {
    background: #eaeaebf3;
    border-top: 1px solid #ccc;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    padding: 15px;
}


@media (max-width: 900px) {
    .footer-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top-inner {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footer-columns {
        grid-template-columns: 1fr;
    }
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
}


.header {
  background: linear-gradient(90deg, #0f4c5c, #1fa2a6);
  color: #fff;
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 15px 20px;
  display: grid;
  align-items: center;
}


.menu-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  margin: auto;
}

.logo img {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.nav {
  flex: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li {
  position: relative;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 0;
  display: block;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  min-width: 220px;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  border-radius: 6px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
}

.dropdown-menu a:hover {
  background: #f0f4f8;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn {
  background: #19c3b3;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
}

.lang {
  color: #fff;
  text-decoration: none;
}


.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}





















.hero {
  height: 100vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-grid {
  height: 100vh;
  margin-top: 170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-text p {
  color: #777;
  margin-bottom: 30px;
}

.hero-image img {
  width: 100%;
  border-top-left-radius: 100px;
}

/* APPOINTMENT BOX */
.appointment-box {
  background: #fff;
  display: flex;
  gap: 15px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.appointment-box .input {
  background: #f4f7fa;
  padding: 12px 15px;
  border-radius: 8px;
  font-size: 14px;
}

.appointment-box button {
  background: #2bbf9a;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* SERVICES */
.services {
  background: #2bbf9a;
  padding: 70px 0;
  color: #fff;
}

.services-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}

.service-card {
  background: #fff;
  color: #333;
  padding: 25px;
  border-radius: 14px;
}

/* VISION */
.vision {
  padding: 80px 0;
  background: #fff;
}

.vision-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.vision-image img {
  width: 100%;
}

.vision-text ul {
  margin: 20px 0;
}

.vision-text li {
  list-style: none;
  margin-bottom: 10px;
}

.btn-outline {
  display: inline-block;
  background: #ffffff;
  color: #000000;
  padding: 12px 25px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.btn-outline:hover {
  background: #2bbf9a;
  color: #fff;
}

#menu-toggle {
  display: none;
}


@media (max-width: 900px) {
  .hero-grid,
  .vision-grid {
    grid-template-columns: 1fr;
  }

  .services-grid {
    grid-template-columns: 1fr 1fr;
  }

  .appointment-box {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  .menu-icon {
    display: block;
  }

  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #0f4c5c;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .nav {
    display: block;
  }

  .menu {
    flex-direction: column;
    padding: 20px;
  }

  .dropdown-menu {
    position: static;
    box-shadow: none;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .actions {
    display: none;
  }
}

